* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100vw;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
}

#p {
  text-wrap: wrap;
  word-wrap: normal;
  line-height: 1.5;
}

main {
  margin: 40vh 10vw;
}

main,
p {
  background-color: transparent;
}
